<!doctype html>
%html(lang="en")
  %head
    %meta(charset="utf-8")

    %title=page.title

    %meta{:name=>"description", :content=>page.description}
    %meta{:name=>"author", :content=>page.author}

    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

    %link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css')

    %link(rel="stylesheet" href="#{site.base_url}/stylesheets/reset.css")
    %link(rel="stylesheet" href="#{site.base_url}/stylesheets/main.css")
    %link(rel="stylesheet" href="#{site.base_url}/javascripts/google-code-prettify/prettify.css")
    %link(rel="stylesheet" href="#{site.base_url}/stylesheets/conf.css")
    %link(rel="stylesheet" href="#{site.base_url}/stylesheets/print.css" media="print")
  %body
    .reveal

      <!-- Used to fade in a background when a specific slide state is reached -->
      .state-background

      <!-- Any section element inside of this container is displayed as a slide -->
      .slides

        ~content

      <!-- The navigational controls UI -->
      %aside.controls
        %a.left(href="#") &#x25C4;
        %a.right(href="#") &#x25BA;
        %a.up(href="#") &#x25B2;
        %a.down(href="#") &#x25BC;

  <!-- Displays presentation progress, max value changes via JS to reflect # of slides -->
  .progress
    %span

  %script(src="#{site.base_url}/javascripts/jquery-1.7.2.min.js" type="text/javascript")
  <!-- Optional libraries for code syntax highlighting and classList support in IE9 -->
  %script(src="#{site.base_url}/javascripts/google-code-prettify/prettify.js" type="text/javascript")
  %script(src="#{site.base_url}/javascripts/classList.js" type="text/javascript")
  %script(src="#{site.base_url}/javascripts/reveal.js" type="text/javascript")

  %script(src="#{site.base_url}/javascripts/prettify-lines.js" type="text/javascript")

  :javascript
    // Parse the query string into a key/value object
    var query = {};
    location.search.replace(/[A-Z0-9]+?=(\w*)/gi, function (a) {
     query[ a.split('=').shift() ] = a.split('=').pop();
    });

    // Fires when a slide with data-state=customevent is activated
    Reveal.addEventListener('customevent', function () {
     alert('"customevent" has fired');
    });

    // Fires each time a new slide is activated
    Reveal.addEventListener('slidechanged', function (event) {
     // event.previousSlide, event.currentSlide, event.indexh, event.indexv
    });

    Reveal.initialize({
     // Display controls in the bottom right corner
     controls:true,

     // Display a presentation progress bar
     progress:false,

     // If true; each slide will be pushed to the browser history
     history:true,

     // Loops the presentation, defaults to false
     loop:false,

     // Flags if mouse wheel navigation should be enabled
     mouseWheel:false,

     // Apply a 3D roll to links on hover
     rollingLinks:false,

     // UI style
     theme:query.theme || 'default', // default/neon

     // Transition style
     transition:'linear' // || query.transition || 'default' // default/cube/page/concave/linear(2d)
    });

    Reveal.addEventListener( 'fragmentshown', show_lines);
    Reveal.addEventListener( 'fragmenthidden', hide_lines);

    prettyPrint();

