---
title: Building Modern Applications
subtitle: with JBoss Developer Framework
description: Building Modern Application the JBoss Way, using JBoss Developer Framework
---

= partial('title.html.haml', {'title'=>page.title, 'subtitle'=>page.subtitle, 'authors'=>page.parent.authors, 'splash'=>page.parent.splash, 'presentation_date'=>page.parent.presentation_date})

%section
  %h2 Session Objective
  %blockquote
    :markdown
      By the end of this session you will know how to build a modern, mobile ready application using HTML5 and Java EE 6.

      You will have seen how productive you can be with the JBoss stack.

%section
  :markdown
    ## Agenda 
    
    * Technology overview
    * Application overview & demo
    * Application walk through
    * Persistence layer
    * Business logic
    * JAX-RS services
    * HTML5 & JS
    * RAD - generating the CRUD

= partial 'ticketmonster_architecture.html.haml'

%section
  :markdown
    ## Tools Overview
  
    * JBDS 5
    * Forge

%section
  %h2 Demo
  %img(src="#{site.base_url}/images/ticketmonster_screenshot.png" width="800")

= partial 'what_is_ticketmonster.html.haml'

= partial 'html5_architecture.html.haml'

%section
  %h2 Demo deep dive
  %img(src="#{site.base_url}/images/ticketmonster_screenshot.png" width="800")  

= partial 'can_i_get_support.html.haml'

%section
  %h2 Q&A
  %ul
    %li
      %a(href="http://jboss.org/developer") http://jboss.org/developer
    %li
      %a(href="http://jboss.org/jdf") http://jboss.org/jdf
    %li
      %a(href="https://twitter.com/#!/jbossdeveloper") @jbossdeveloper

