%section
  %img.splash(src="#{site.base_url}/images/#{page.splash}")

%section
  .intro
    %h2= page.title
    - if page.subtitle
      %h3= page.subtitle
      
      - if page.presentation_date
        %div
          %time= page.presentation_date.strftime('%B %Y')
 
      -if page.authors
        %ul
          - page.authors.each do |author|
            %li 
              = author.name
              %ul
                %li #{author.role}, #{author.company}

