%section
  %img.splash(src="#{site.base_url}/images/#{page.parent.splash}")

%section
  .intro
    %h2= page.parent.title
    - if page.parent.subtitle
      %h3= page.parent.subtitle
      
      %div
        %time= Date.today.strftime('%B %Y')
 
      -if page.parent.authors
        %ul
          - page.parent.authors.each do |author|
            %li 
              = author.name
              %ul
                %li #{author.role}, #{author.company}

