---
title: Introducing The JBoss Developer Framework 
subtitle: 
description: "You've heard about the JBoss Way, and you like what you see. The JBoss Developer Framework provides you with the toolkit to follow the JBoss Way and build your applications quickly, productively, and easily."
---

= partial('title.html.haml', {'title'=>page.title, 'subtitle'=>page.subtitle, 'authors'=>page.parent.authors, 'splash'=>page.parent.splash, 'presentation_date'=>page.parent.presentation_date})

%section
  %h2 Session Objective
  %blockquote
    :markdown
      By the end of this session you will understand the resources that JBoss Developer Framework offers you.

      You will have seen how productive you can be with the JBoss stack.

%section
  :markdown
    ## Agenda 
    
    * What is JBoss Developer Framework
      * Quickstarts & JBoss BOMs
      * Migration
      * Demo and overview of TicketMonster
    * Roadmap
      * What's in jdf 2.0
      * How does DeltaSpike fit in?

%section
  %h2 What is jdf?
  %blockquote
    :markdown
      JBoss Developer Framework shows you how to write applications using JBoss technologies
  :markdown
    * Learn how to write an application suitable for mobile 
    * Learn how to use the Java EE 6 API with JBoss AS
    * Learn how to add the power of CDI to your browser

%section
  :markdown
    ## Highlights

    * 54 Quickstarts, focused on a single use case or API
    * Medium complexity example - TicketMonster
    * Stacks defined for Java EE, Errai, Hibernate, Arquillian, Transactions (more to come)
    * Migration guides for Spring, Seam 2 and Java EE 5

%section
  %h2 Quick plug
  %img(src="#{site.base_url}/images/ticketmonster_screenshot.png" width="800")
  .center-text
    %em Wednesday @ 3:40pm  

%section
  %h2 Quickstarts & JBoss BOMs
  %img(src="#{site.base_url}/images/quickstarts_screenshot.png" width="800")

%section
  %section
    %h2 Demo
    %img(src="#{site.base_url}/images/ticketmonster_screenshot.png" width="800")
  
  = partial 'ticketmonster_architecture.html.haml'

  = partial 'what_is_ticketmonster.html.haml'

  = partial 'html5_architecture.html.haml'

%section
  %h2 Roadmap 

  TODO

= partial 'can_i_get_support.html.haml'

%section
  %h2 Q&A
  %ul
    %li
      %a(href="http://jboss.org/developer") http://jboss.org/developer
    %li
      %a(href="http://jboss.org/jdf") http://jboss.org/jdf
    %li
      %a(href="https://twitter.com/#!/jbossdeveloper") @jbossdeveloper

