---
title: Building Modern Applications the JBoss Way
author: Pete Muir, Marius Bogoevici
description: Building Modern Application the JBoss Way, using JBoss Developer Framework

layout: reveal
---

%section
  %img.splash(src="#{site.base_url}/images/summit.png")

%section
  %h2 Building Modern Applications 
  %h3 with JBoss Developer Framework
  %br
  %p June 2012
  %ul.intro
    %li 
      Pete Muir 
      %ul 
        %li Principal Software Engineer, Red Hat, Inc.
    %li 
      Marius Bogoevici 
      %ul
        %li Senior Software Engineer, Red Hat, Inc.

%section
  %h2 Session Objective
  %blockquote
    :markdown
      By the end of this session you will know how to build a modern, mobile ready application using HTML5 and Java EE 6.

      You will have seen how productive you can be with the JBoss stack.

%section
  %h2 Agenda 
  %ul
    %li Technology overview
    %li Application overview & demo
    %li Application walk through
    %li Persistence layer
    %li Business logic
    %li JAX-RS services
    %li HTML5 & JS
    %li RAD - generating the CRUD

%section
  %h2 Architecture
  %img.diagram(src="#{site.base_url}/images/ticketmonster_architecture.png" width="800")

%section
  %h2 Tools Overview
  %ul
    %li JBDS 5
    %li Forge

%section
  %h2 Demo

%section 
  %h2 End-user use cases
  %img.diagram(src="#{site.base_url}/images/user_use_cases.png" width="800")

%section 
  %h2 Administration use cases
  %img.diagram(src="#{site.base_url}/images/admin_use_cases.png" width="800")

%section
  %h2 HTML5 Architecture
  %img.diagram(src="#{site.base_url}/images/ticketmonster_html5_architecture.png" width="800")

%section
  %h2 Demo deep dive

%section
  %h2.bottom.red Can I get support?

%section
  %img.bottom(src="#{site.base_url}/images/as7_to_eap.png" width="800")

%section
  %img.diagram(src="#{site.base_url}/images/subscriptions.png" width="800")

%section
  %h2 Q&A
  %ul
    %li
      %a(href="http://jboss.org/developer") http://jboss.org/developer
    %li
      %a(href="http://jboss.org/jdf") http://jboss.org/jdf
    %li
      %a(href="https://twitter.com/#!/jbossdeveloper") @jbossdeveloper
